body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6ede2;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #3b2416;
}

.nav a {
  flex: 1;
  text-align: center;
  padding: 18px;
  color: white;
  text-decoration: none;
  border-right: 1px solid #7f4f24;
}

.nav a:hover {
  background-color: #7f4f24;
}

main {
  min-height: 70vh;
  padding: 20px;
}

.footer {
  background-color: #3b2416;
  color: white;
  text-align: center;
  padding: 20px;
}
.post {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
}
.texto { flex: 1; }
.post img { width: 40%; }